@charset 'utf-8';
html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(../assets/img_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: Microsoft Yahei UI;
}

.container {
    position: relative;
    width: 80%;
    min-width: 600px;
    height: 80%;
    min-height: 400px;
    display: flex;
    background-color: white;
    box-shadow: 0 0 50px 0 black;
}

.left-side {
    position: relative;
    width: 30%;
    height: 100%;
    background-color: #2d4665;
    transition: all 0.5s ease;
}

.right-side {
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.right-side:hover .shadow {
    opacity: 1;
    pointer-events: visible;
}

.center-img {
    position: absolute;
    pointer-events: none;
    top: 10%;
    height: 80%;
    left: 18%;
    box-shadow: 0 5px 40px 0px rgba(0, 0, 0, 0.5);
}

.logo-img {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 20px;
    width: 30%;
}

.info-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 80%;
    line-height: 10px;
}

.info-title {
    font-weight: 700;
    margin-top: 25px;
}

.info-detail {
    font-weight: 200;
}

.social-list {
    margin-top: 20px;
}

.social-icon {
    height: 15px;
    margin-right: 5px;
}

.hamburger-button {
    cursor: pointer;
    width: 20px;
}

.show .bar:first-child {
    width: 20px;
    transform: translate(2px, 6px) rotate(45deg);
    background-color: deepskyblue;
}

.show .bar:last-child {
    width: 20px;
    transform: translate(2px, -6px) rotate(-45deg);
    background-color: deepskyblue;
}

.show .bar:nth-child(2) {
    opacity: 0;
    background-color: deepskyblue;
}

.bar {
    width: 22px;
    height: 2px;
    margin: 4px auto;
    position: relative;
    background-color: black;
    border-radius: 4px;
    transition: all 0.5s ease;
}

.main-container {
    width: 60%;
}

.first-name {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
}

.last-name {
    font-weight: 700;
    font-size: 32px;
    color: #2d4665;
    margin: 0;
}

.living-place {
    font-weight: 700;
    font-size: 12px;
}

.details {
    font-weight: 300;
}

.shadow {
    position: absolute;
    height: 100%;
    width: 80px;
    right: 0px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}

.arrow {
    width: auto;
    height: 40px;
    cursor: pointer;
}

.skills-title {
    font-weight: 700;
    font-size: 32px;
    color: #068852;
    margin: 0;
}

.skills-chat {
    display: flex;
    align-content: center;
}

.skills-text {
    display: inline-block;
    width: 80px;
    font-weight: 300;
}

.skills-web {
    display: inline-block;
    height: 20px;
    width: 300px;
    background-color: #0acc7c;
    animation: webIn 0.5s ease;
}

.skills-cpp {
    display: inline-block;
    height: 20px;
    width: 200px;
    background-color: #0acc7c;
    animation: cppIn 0.5s ease;
}

.experience-title {
    display: block;
    font-weight: 700;
    font-size: 32px;
    color: #463f78;
    padding-bottom: 20px;
    margin: 0;
}

.experience-project {
    width: 100%;
    height: 40px;
    overflow: hidden;
    /*margin: 10px 0;*/
    cursor: pointer;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

.project-title {
    line-height: 40px;
    margin: 0;
    font-weight: 700;
    transition: all 0.2s ease;
}

.experience-project:nth-child(3) {
    background-color: #f7f6ff;
}

.experience-project:hover .project-title {
    transform: translateY(-100%);
}

.experience-project:hover .project-detail {
    transform: translateY(-100%);
}

a {
    text-decoration: none;
}

.project-detail {
    line-height: 40px;
    margin: 0;
    font-weight: 300;
    transition: all 0.2s ease;
}

.navigation {
    position: absolute;
    right: 40px;
    top: 35px;
}

.navigations {
    position: absolute;
    top: -20%;
    right: 150%;
    font-size: 12px;
    text-align: center;
    border-radius: 4px;
    /*border: 1px solid grey;*/
    box-shadow: 0 1px 4px gray;
    padding: 10px 10px;
}

.link-text {
    cursor: pointer;
    transition: all 0.2s ease;
}

.link-text:hover {
    color: deepskyblue;
}

.selected {
    color: deepskyblue;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

.displaynone {
    display: none;
}

.green {
    background-color: #068852;
}

.purple {
    background-color: #35305c;
}

@keyframes fadeShow {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(50%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(50%);
    }
}

@keyframes fadeShowAway {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

.fadeShowAway {
    animation: fadeShowAway 0.5s ease;
}

.fadeShow {
    animation: fadeShow 0.5s ease;
}

.fadeOut {
    animation: fadeOut 0.5s ease;
}

@keyframes fadeDisappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeDisappear {
    animation: fadeDisappear 0.5s ease;
}

.fadeAppear {
    animation: fadeAppear 0.5s ease;
}

@keyframes webIn {
    from {
        width: 0px;
    }
    to {
        width: 300px;
    }
}

@keyframes cppIn {
    from {
        width: 0px;
    }
    to {
        width: 200px;
    }
}