@charset 'utf-8';
html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(../assets/img_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: Microsoft Yahei UI;
}

.container {
    position: relative;
    width: 100%;
    min-width: 600px;
    height: 100%;
    min-height: 400px;
    display: flex;
    background-color: white;
    box-shadow: 0 0 50px 0 black;
}

.left-side {
    position: relative;
    width: 30%;
    height: 100%;
    background-color: #2d4665;
}

.right-side {
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.center-img {
    position: absolute;
    pointer-events: none;
    top: 10%;
    height: 80%;
    left: 18%;
    box-shadow: 0 5px 40px 0px rgba(0, 0, 0, 0.5);
}

.logo-img {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 20px;
    width: 30%;
}

.info-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 80%;
    line-height: 10px;
}

.info-title {
    font-weight: 700;
    margin-top: 25px;
}

.info-detail {
    font-weight: 200;
}

.social-list {
    margin-top: 20px;
}

.social-icon {
    height: 15px;
    margin-right: 5px;
}

.hamburger-button {
    position: absolute;
    cursor: pointer;
    top: 35px;
    right: 40px;
    width: 20px;
}