@charset 'utf-8';
html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: Microsoft Yahei UI;
}

.parallax-background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(../assets/img_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    transition: all 0s ease;
}

.header-container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    line-height: 16px;
}

.title-normal {
    color: white;
    font-weight: 300;
}

.title-stress {
    color: white;
    font-weight: 700;
    font-size: 30px;
}

.circle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid white;
    bottom: 20px;
    /*display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;*/
}

.arrow {
    margin-left: 3px;
    margin-top: 5px;
    color: white;
    animation: fadeCirculate 2s infinite;
}

.navigation {
    padding: 0 20px;
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}

.link {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
    margin-left: 10px;
    font-weight: 300;
}

.link:hover {
    color: deepskyblue;
}

.main-stress {
    font-size: 48px;
    margin: 0;
}

.main-normal {
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin-top: 40px;
}


.education {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #ededed;
}

.line {
    width: 100px;
    height: 1px;
    background-color: lightgrey;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 350px;
    width: 300px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0px 1px 2px grey;
}

.large {
    font-size: 40px;
}

@keyframes fadeCirculate {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    50% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50%, 0);
        transform: translate3d(0, 50%, 0);
    }
}